<div>
    <div *ngIf="!showCreateorder && !showOffers" >
        <button class="btn btn-info" (click)="addOrder()">Create order</button>
        <div *ngFor="let order of listOrders; index as i;">
            <div class="form">
                <form class="ngform">
                    <h3>Order {{order.id}}</h3>
                    <label>End date: {{order.endDate}}</label>
                    <br/>
                    <label>Medicine name: {{order.medicineName}}</label>
                    <br/>
                    <label>Quantity: {{order.quantity}}</label>
                    <div *ngFor="let necessary of order.orderOffers">
                        <label>Medicine name: {{necessary.medicineName}}</label>
                        <br/>
                        <label>Quantity: {{necessary.quantity}}</label>
                        <br/>
                    </div>
                    <button class="btn btn-info" (click)="show(order.id, i)">Show offers</button>
                    <button class="btn btn-outline-dark" (click)="delete(i)">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="showCreateorder">
        <div class="page">
            <div class="form">
                <form class="ngform">
                    <h3>Create order</h3>
                    <input type="date" [(ngModel)]="newOrder.endDate" placeholder="Enter order end date" name='endDate' id='endDate'>
                    <div>
                        <input type="text" [(ngModel)]="newOrder.medicineName" placeholder="Enter medicine name" name='medicineName' id='medicineName'>
                        <input type="number" [(ngModel)]="newOrder.quantity" placeholder="Enter quantity" name='quantity' name="quantity">
                        <input type="number" [(ngModel)]="newOrder.price" placeholder="Enter price" name='price' name="price">
                    </div>
                    <button class="btn btn-info" (click)="create()">Create</button>
                </form>
            </div>
        </div>        
    </div>

    <div *ngIf="showOffers">
        <div *ngFor="let order of listOffers; index as i;">
            <div class="form">
                <form class="ngform">
                    <h3>Offer</h3>
                    <label>Delivery date: {{order.deliveryDate}}</label>
                    <br/>
                    <label>Supplier email: {{order.supplierEmail}}</label>
                    <br/>
                    <label>Total price: {{order.totalPrice}}</label>
                    
                    <button class="btn btn-info" (click)="set(order.id, i)">Set as winner</button>

                </form>
            </div>
        </div>
    </div>
</div>


