<div class="hospital-page">
  <div class="form">
    <h3>Hospital registration</h3>
    <form class = "hospital-form">
      <div class="form-group">
        <input type="email" [(ngModel)]="hospital.email" placeholder="Enter hospital email" name="email" required>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="hospital.name" placeholder="Enter hospital name" name="name" required>
      </div>
      <div class="form-group">
        <label><b>Select pharmacy</b></label>
        <select class="form-control" id="pharmacies" [(ngModel)]= "selectedPharmacy">
          <option *ngFor="let pharmacy of pharmacies" [value]= pharmacy>{{pharmacy}}</option>
        </select>
      </div>
      <button (click)="registration()" class="btn btn-primary">Registration</button>
    </form>
  </div>
</div>
