<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient name</th>
        <th scope="col">Patient surname</th>
        <th scope="col">Date & time</th>
        <th scope="col">Came</th>
        <th scope="col">Patient's allergies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let couns of counseling; let i = index;">
          <td>{{i+1}}</td>
          <td>{{couns.patientDto.user.name}} </td>
          <td>{{couns.patientDto.user.surname}}</td>
          <td>{{couns.schedule.startDate}}, {{couns.schedule.startTime}}-{{couns.schedule.endTime}}</td>
          <td>{{couns.patientCame}}</td>
          <td> <span *ngFor="let allergy of couns.patientDto.allergicMedicines;">{{allergy}}, </span> </td>
          <td><button *ngIf='couns.patientCame == null' class="btn btn-primary" [routerLink]="['/allcounselings', couns.id]">Start</button></td>
      </tr>
    </tbody>
  </table>