/* You can add global styles to this file, and also import other style files */
body {
    background: url(../images/pharmacy.jpg) no-repeat center center fixed Highlight;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type=email], input[type=password], input[type=text], input[type = tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  button {
    background-color: rgb(27, 186, 214);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
