<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient name</th>
        <th scope="col">Patient surname</th>
        <th scope="col">Date & time</th>
        <th scope="col">Counseling status</th>
        <th scope="col">Came</th>
        <th scope="col">Report</th>
        <th scope="col">Patient's allergies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let examination of examinations; let i = index;">
          <td>{{i+1}}</td>
          <td>{{examination.patientDto.user.name}} </td>
          <td>{{examination.patientDto.user.surname}}</td>
          <td>{{examination.schedule.startDate}}, {{examination.schedule.startTime}}-{{examination.schedule.endTime}}</td>
          <td>{{examination.pharmacyName}}</td>
          <td>{{examination.patientCame}}</td>
          <td>{{examination.prescription.note}}</td> 
          <td> <span *ngFor="let allergy of examination.patientDto.allergicMedicines;">{{allergy.name}}, </span> </td>
          <!--<td><button class="btn btn-primary" [routerLink]="['/allcounselings', counseling.id]">Start</button></td>-->
      </tr>
    </tbody>
  </table>
