<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="assets/medicine.png" width="30" height="30" alt="" />
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/actions'" routerLinkActive="active">Actions and benefits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/medicine'" routerLinkActive="active">Medicines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/uploadQR'" routerLinkActive="active">Upload QR-code</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link"  [routerLink]="'/login'" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/user'" routerLinkActive="active">Registration</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" [routerLink]="'/hospital'" routerLinkActive="active">Hospital registration</a>
            </li>
        </ul>

    </div>
</nav>

<!-- <ul>
    <li style="float:right">
        <a [routerLink]="'/login'" routerLinkActive="active">Login</a>
    </li>
    <li style="float:right">
        <a [routerLink]="'/user'" routerLinkActive="active">Registration</a>
    </li>
    <li style="float:right">
        <a [routerLink]="'/hospital'" routerLinkActive="active">Hospital registration</a>
    </li>
</ul> -->