<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Loyalty program</h2>
    </div>
    <div>
        <div>
            <label>Examination loyalty points</label>
            <br/>
            <span *ngIf="!enableEditExam">{{examLoyaltyPoints.points}}</span>
            <input *ngIf="enableEditExam" [(ngModel)]="examLoyaltyPoints.points"/>
            <button *ngIf="enableEditExam" class="btn page-secondary-action-btn" (click)="cancelExam()">Cancel</button>
            <button *ngIf="enableEditExam" id="saveExamBtn" class="btn btn-primary btn-smbtn" (click)="saveExamPoints()" type="submit">Save</button>
            <button *ngIf="!enableEditExam" id="editExamBtn" class="btn page-primary-action-btn" (click)="editExamPoints()" type="submit">Edit</button>
        </div>
        <div>
            <label>Counseling loyalty points</label>
            <br/>
            <span *ngIf="!enableEditConsu">{{counsLoyaltyPoints.points}}</span>
            <input *ngIf="enableEditConsu" [(ngModel)]="counsLoyaltyPoints.points"/>
            <button *ngIf="enableEditConsu" class="btn page-secondary-action-btn" (click)="cancelCouns()">Cancel</button>
            <button *ngIf="enableEditConsu" id="saveCounBtn" class="btn page-primary-action-btn" (click)="saveCounsPoints()" type="submit">Save</button>
            <button *ngIf="!enableEditConsu" id="editCounBtn" class="btn page-primary-action-btn" (click)="editCounsPoints()" type="submit">Edit</button>
        </div>
    </div>
    <div>
        <label>Loyalty level</label>
        <br/>
        <div>
            <label>Regular:</label>
            <br/>
            <span *ngIf="!enableEditReg">{{regLoyaltyPoints.points}}</span>
                <input *ngIf="enableEditReg" [(ngModel)]="regLoyaltyPoints.points"/>
                <button *ngIf="enableEditReg" class="btn page-secondary-action-btn" (click)="cancelReg()">Cancel</button>
                <button *ngIf="enableEditReg" id="saveRegBtn" class="btn page-primary-action-btn" (click)="saveRegPoints()" type="submit">Save</button>
                <button *ngIf="!enableEditReg" id="editRegBtn" class="btn page-primary-action-btn" (click)="editRegPoints()" type="submit">Edit</button>
        </div>
        <div>
            <label>Silver:</label>
            <br/>
            <span *ngIf="!enableEditSil">{{silLoyaltyPoints.points}}</span>
                <input *ngIf="enableEditSil" [(ngModel)]="silLoyaltyPoints.points"/>
                <button *ngIf="enableEditSil" class="btn page-secondary-action-btn" (click)="cancelSilv()">Cancel</button>
                <button *ngIf="enableEditSil" id="saveSilBtn" class="btn page-primary-action-btn" (click)="saveSilver()" type="submit">Save</button>
                <button *ngIf="!enableEditSil" id="editSilBtn" class="btn page-primary-action-btn" (click)="editSilvPoints()" type="submit">Edit</button>
        </div>
        <div>
            <label>Gold:</label>
            <br/>
            <span *ngIf="!enableEditGold">{{goldLoyaltyPoints.points}}</span>
                <input *ngIf="enableEditGold" [(ngModel)]="goldLoyaltyPoints.points"/>
                <button *ngIf="enableEditGold" class="btn page-secondary-action-btn" (click)="cancelGold()">Cancel</button>
                <button *ngIf="enableEditGold" id="saveGoldBtn" class="btn page-primary-action-btn" (click)="saveGoldPoints()" type="submit">Save</button>
                <button *ngIf="!enableEditGold" id="editGoldBtn" class="btn page-primary-action-btn" (click)="editGoldPoints()" type="submit">Edit</button>
        </div>
    </div>
    <div class="panel-body">
        <table id="medicine" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Loyalty points</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicine of medicinesList; index as i;">
                    <td>{{medicine.code}}</td>
                    <td>{{medicine.name}}</td>
                    <td>
                        <span *ngIf="!enableEdit">{{medicine.loyaltyPoints}}</span>
                        <input *ngIf="enableEdit && enableEditIndex == i" [(ngModel)]="medicine.loyaltyPoints"/>
                    </td>
                    <td>
                        <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false" class="btn page-secondary-action-btn" (click)="cancelMedicine()">Cancel</button>
                        <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn page-primary-action-btn" (click)="saveMedicine(i)" type="submit">Save</button>
                        <button *ngIf="!enableEdit" id="editBtn" class="btn page-primary-action-btn" (click)="enableEditMethod($event, i)" type="submit">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

