<div class="code-page">
    <div class="form">
      <form class="code-form" #loginform = "ngForm">
        <h3>Verification profile</h3>
        <input type="text" [(ngModel)]="verificationCode" placeholder="Enter verification code" name="vCode" required #vCode="ngModel"
        [class.is-invalid] = "vCode.invalid && vCode.touched">
        <div *ngIf="vCode.errors && (vCode.invalid && vCode.touched)">
          <small class="text-danger" *ngIf = "vCode.errors.required">This is required field.</small>
        </div>        
        <button [disabled]="loginform.form.invalid" (click)="verification()" class="btn btn-primary">Verification</button>
        </form>
    </div>
  </div>
  