<div class="page">
    <div class="form">
        <form class="ngform" style="width:500px;">
            <h3>Schedule examination</h3>
            <br>
            <!--<div>
                <input type="text" [(ngModel)]="user.email" placeholder="Pharmacist name" name="surname" required>
            </div>-->
            <!--<div>
                <input type="text" [(ngModel)]="user.email" placeholder="Current patient name" name="surname" required>
            </div>-->
            
            <br>
            <button class="btn btn-primary">Schedule examination</button>
        </form>
    </div>
</div>
