<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Medicine list</h2>
    </div>
    <div class="panel-body">
        <table id="medicine" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Loyalty points</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicine of medicinesList; index as i;">
                    <td>{{medicine.code}}</td>
                    <td>{{medicine.name}}</td>
                    <td>
                        <span *ngIf="!enableEdit">{{medicine.loyaltyPoints}}</span>
                        <input *ngIf="enableEdit && enableEditIndex == i" [(ngModel)]="medicine.loyaltyPoints"/>
                    </td>
                    <td>
                        <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false" class="btn page-secondary-action-btn" (click)="cancelMedicine()">Cancel</button>
                        <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn page-primary-action-btn" (click)="saveMedicine(i)" type="submit">Save</button>
                        <button *ngIf="!enableEdit" id="editBtn" class="btn page-primary-action-btn" (click)="enableEditMethod($event, i)" type="submit">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

