
    <div class="search-medicine">
        <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Enter medicine name">
              </div>
              <div class="col">
                  <div range-slider min="0" max="100" model-min="min" model-max="max"></div>
              </div>
              <div class="col">
                <select class="form-control">
                    <option >Medicine type:</option>
                </select>
              </div>
              <div class="col" >
                <button type="button" class="form-control btn btn-primary">SEARCH</button>
              </div>

            </div>
        </form>
    </div>

<div class="panel panel-primary">
    <div class="panel-body">
        <table id="medicine" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Form</th>
                    <th>Manufactured</th>
                    <th>Publishing type</th>
                    <th>Pharmacy</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicine of medicinesDtoList">
                    <td>{{medicine.code}}</td>
                    <td>{{medicine.name}}</td>
                    <td>{{medicine.typeOfMedicine}}</td>
                    <td>{{medicine.formOfMedicine}}</td>
                    <td>{{medicine.manufactured}}</td>
                    <td>{{medicine.publishingType}}</td>
                    <td>{{medicine.pharmacyName}}</td>
                    <td>{{medicine.price}}</td>
                    <td>{{medicine.amount}}</td>
                    <td>{{medicine.note}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>