<div *ngFor="let medicine of medicinesDtoList; index as i" class="page">
    <div class="form">
      <form class="ngform">
        <h3>{{medicine.name}}</h3>
        <label>Type: {{medicine.typeOfMedicine}}</label>
        <hr/>
        <p>Pharmacies:</p>
        <div *ngFor="let p of medicine.pharmacyPriceDtos">
            <label>Pharmacy name: {{p.pharmacyName}}</label>
            <br/>
            <label>Price: {{p.price}}</label>
        </div>
        <button *ngIf="!viewSpec" class="btn btn-info" (click)="viewSpecification($event, i)">Specification</button>
        <div *ngIf="viewSpec && enableViewIndex==i">
            <hr/>
            <label>Code: {{medicine.code}}</label>
            <br/>
            <label>Form: {{medicine.formOfMedicine}}</label>
            <br/>
            <label>Composition: {{medicine.composition}}</label>
            <br/>
            <label>Manufactured: {{medicine.manufactured}}</label>
            <br/>
            <label>Publishing type: {{medicine.publishingType}}</label>
            <br/>
            <button class="btn btn-info" (click)="cancel()">Cancel</button>
        </div>
        </form>
    </div>
</div>
