<div class="ePrescription-page">
    <div class="form">
      <form class="ePrescription-form">
        <h3>ePrescription</h3>
        <table>
          <tbody>
            <tr>
              <td><h6>Code:</h6><p></p></td>
              <td><label>{{ePrescriptionObj.code}}</label></td>
            </tr>
            <tr>
              <td><h6>Patient name:</h6><p></p></td>
              <td><label>{{ePrescriptionObj.patientName}}</label></td>
            </tr>
            <tr>
              <td><h6>Date of issue:</h6><p></p></td>
              <td><label>{{ePrescriptionObj.date}}</label></td>
            </tr>
          </tbody>
        </table>

        <form class="action-form">
            <h3 class="h32">Medicines</h3>
            <ul name="hospital-list" class="list">
                <li>3 Brufen</li>
            </ul>
            <br/>
            <h3 class="h32">Chose pharmacy</h3>
            <select name="pharmacies" id="pharmacies">
              <option *ngFor="let pharmacy of pharmacies">{{pharmacy.name}}</option>
            </select>
            <br/>
        </form>
        <br/>
        <br/>
        <button>Send</button>
        </form>
    </div>
  </div>