<div class="page">
    <div class="form">
      <form class="ngform" #complaintform = "ngForm">
        <h3>Complaint message</h3>
        <div>
            <br/>
            <label>I'm complaining about</label>
            <select name="selectType" [(ngModel)]="subject" >
                <option *ngFor="let subject of subjects" [ngValue]="subject" name="subjects">
                    {{subject}}
                </option>
            </select>
        </div>
        <div>
          <input type="text" [(ngModel)]="text" placeholder="Enter complaint message" name="name" required #complaint="ngModel"
          [class.is-invalid] = "complaint.invalid && complaint.touched">
          <div *ngIf="complaint.invalid && complaint.touched">
            <small class="text-danger">Message is required field.</small>
          </div>
        </div>
        
        <button [disabled]="complaintform.form.invalid" (click)="send()" class="btn btn-info">Send</button>
        </form>
    </div>
  </div>
  