<br/>
<div>
    <div class='tabs-x tabs-above'>
      <ul class="nav nav-tabs">    
        <li class="nav-item">
            <a class="nav-link" id="addPharmacyAdmin-tab" href="#addPharmacyAdmin"  role="tab" data-toggle="tab"
            aria-controls="addPharmacyAdmin">
            Registration pharmacy admin</a></li>
        <li class="nav-item">
            <a class="nav-link" id="regDermatologist-tabs" href="#regDermatologist" role="tab"
                                data-toggle="tab" aria-controls="regDermatologist" >
          Registration dermatologist</a></li>
          <li class="nav-item"><a class="nav-link" id="regSupplier-tabs" href="#regSupplier" role="tab"
            data-toggle="tab" aria-controls="regSupplier" >
        Registration supplier</a></li>
        <li class="nav-item">
            <a class="nav-link" id="regSysAdmin-tabs" href="#regSysAdmin" role="tab" data-toggle="tab"
            aria-controls="regSysAdmin">
            System registration admin</a></li>
      </ul>
        <div id="myTabContent-tabs-above" class="tab-content">
            <div class="tab-pane fade" id="addPharmacyAdmin" role="tabpanel" aria-labelledby="addPharmacyAdmin-tab">
                <app-reg-pharmacy-admin></app-reg-pharmacy-admin>
            </div>
            <div class="tab-pane fade" id="regDermatologist" role="tabpanel" aria-labelledby="regDermatologist-tabs">
                <app-reg-dermatologist></app-reg-dermatologist>
            </div>
            <div class="tab-pane fade" id="regSupplier" role="tabpanel" aria-labelledby="regSupplier-tabs">
                <app-reg-supplier></app-reg-supplier>
            </div>
            <div class="tab-pane fade" id="regSysAdmin" role="tabpanel" aria-labelledby="regSysAdmin-tabs">
                <app-reg-system-admin></app-reg-system-admin>
            </div>

        </div>
    </div>
</div>


    