<ul >
    <li>
        <a [routerLink]="'/actions'" routerLinkActive="active">Actions and benefits</a>
    </li>
    <li>
        <a [routerLink]="'/medicine'" routerLinkActive="active">Medicines</a>
    </li>
    <li>
        <a [routerLink]="'/uploadQR'" routerLinkActive="active">Upload QR-code</a>
    </li>
    <li style="float:right">
        <a [routerLink]="'/login'" routerLinkActive="active">Login</a>
    </li>
    <li style="float:right">
        <a [routerLink]="'/user'" routerLinkActive="active">Registration</a>
    </li>
    <li style="float:right">
        <a [routerLink]="'/hospital'" routerLinkActive="active">Hospital registration</a>
    </li>
</ul>