<div class="page">
    <div class="form">
        <form class="ngform">
            <h3>Schedule counseling</h3>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <label>Date:</label>
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                            #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </form>
            <ngb-timepicker [minuteStep]="minuteStep" [(ngModel)]="startTime" name="timepicker"></ngb-timepicker>
            <ngb-timepicker [minuteStep]="minuteStep" [(ngModel)]="endTime" name="timepicker"></ngb-timepicker>
            <button (click)="schedule()"></button>

            <!-- <div>
                <input type="text" [(ngModel)]="counseling.patient" placeholder="Enter patient" name="surname" required>
            </div>

            <div>
                <input type="text" [(ngModel)]="user.address" placeholder="Enter address" name="address" required>
            </div>

            <div>
                <input type="text" [(ngModel)]="user.city" placeholder="Enter city" name="city" required>
            </div>
            <div>
                <input type="text" [(ngModel)]="user.country" placeholder="Enter country" name="country" required>
            </div>
            <div>    
                <input type="tel" [(ngModel)]="user.phone" placeholder="Enter phone" name="phone" required>
            </div> -->
            <!-- <button class="btn btn-primary" (click)="createScheduleCounseling()">Register</button> -->
        </form>
    </div>
</div>