<div class="page">
    <div class="form">
        <form class="ngform" style="width: 600px">
            <h3>Counseling</h3>
            <br>
            <div>
                <table>
                    <tr><h5><td>Date & time:</td><td>&nbsp; &nbsp;{{counseling.schedule.startDate}}, {{counseling.schedule.startTime}}-{{counseling.schedule.endTime}}</td></h5></tr>
                    <tr><h5><td>Patient:</td><td>&nbsp; &nbsp;{{counseling.patientDto.user.name}} {{counseling.patientDto.user.surname}}</td></h5></tr>
                    <tr><h5><td>Allergic medicines: </td><td>&nbsp; &nbsp;<span *ngFor="let allergy of counseling.patientDto.allergicMedicines;">{{allergy}}, </span></td></h5></tr>
                </table>
            </div>
            <br>
            <div>
                <label>Report:</label><input type="text" [(ngModel)]="counseling.report.note" placeholder="Write report" name="report" required>
            </div>
            <br>

            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
