<div class="page">
    <div class="form">
        <form class="ngform" style="width: 600px">
            <h2>Counseling</h2>
            <br>
            <div>
                <table>
                    <tr><h5><td style="color:gray">Patient:</td><td>&nbsp;{{counseling.patientDto.user.name}} {{counseling.patientDto.user.surname}}</td></h5></tr>
                    <tr><h5><td style="color:gray">Allergic medicines:</td><td>&nbsp;<span *ngFor="let allergy of counseling.patientDto.allergicMedicines;">{{allergy}}, </span></td></h5></tr>
                </table>
            </div>
            <hr>
            <br>
            <div style="width: 250px;">
                <ng-select [items]="allDiagnosis"
                    bindLabel="labelDiag"
                    placeholder="Select diagnosis"
                    appendTo="body"
                    [multiple]="true"
                    [(ngModel)]="selectedDiag"
                    name="selectedDiag">
                </ng-select>
            </div>
            <br><br>
            <div>
                <div style="width: 250px;">
                    <ng-select [items]="medicines"
                        bindLabel="label"
                        placeholder="Select medicine"
                        appendTo="body"
                        [multiple]="true"
                        [(ngModel)]="selectedMeds"
                        name="selectedMeds" [disabled]="isChecked">
                    </ng-select>
                    
                </div>
                <button class="btn btn-secondary" style="width:100px;" (click)="checkAvailability()" [disabled]="isChecked">Check</button>&nbsp;&nbsp;
                <button *ngIf='isChecked' class="btn btn-secondary" style="width:150px;" (click)="checkAvailabilityCancel()">Cancel check</button>
            </div>

            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
