<div *ngIf='patientCame' class="page">
    <div class="form">
        <form class="ngform" style="width: 600px">
            <h2>Examination</h2>
            <br>
            <div>
                <table>
                    <tr><h5><td style="color:gray">Patient:</td><td>&nbsp;{{examination.patientDto.user.name}} {{examination.patientDto.user.surname}}</td></h5></tr>
                    <tr><h5><td style="color:gray">Allergic medicines:</td><td>&nbsp;<span *ngFor="let allergy of examination.patientDto.allergicMedicines;">{{allergy}}, </span></td></h5></tr>
                </table>
                <hr>
            </div>
            <br>

            <div style="width: 250px;">
                <ng-select [items]="allDiagnosis"
                    bindLabel="labelDiag"
                    placeholder="Select diagnosis"
                    appendTo="body"
                    [multiple]="true"
                    [(ngModel)]="selectedDiag"
                    name="selectedDiag">
                </ng-select>
            </div>
            <br><br>
            <div style="display: inline-block;">
                <div style="width: 250px;">
                    <ng-select [items]="medicines"
                        bindLabel="label"
                        placeholder="Select medicine"
                        appendTo="body"
                        [multiple]="true"
                        [(ngModel)]="selectedMeds"
                        name="selectedMeds">
                    </ng-select>
                    <button class="btn btn-secondary" style="width:100px;" (click)="checkAvailability()">Check</button>&nbsp;
                </div>
                <div>
                    <label>Days:&nbsp;&nbsp;</label><input type="number" [(ngModel)]="updateExam.prescription.days" name="days" style="width:100px" required>
                </div>
            </div>

            <br>

            <div>
                <p style="color:springgreen;font-size:15px;float:right;">Pharmacy: <b>{{examination.pharmacyName}}</b>
                    <br>Dermatologist: <b>{{examination.email}}</b>
                    <br>{{examination.schedule.startDate}}, {{examination.schedule.startTime}}-{{examination.schedule.endTime}}
                </p>
            </div>
            <br><br><br><br>
            <div>
                <button class="btn btn-secondary" style="width:200px;" (click)="cancelExamination()">Cancel</button>&nbsp;
                <button class="btn btn-primary" style="width:200px;" (click)="saveExamination()">Save</button>
            </div>
        </form>
    </div>
    <h3>Medicine specification</h3>
<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>&nbsp;
<button class="btn btn-primary" style="width:100px;">Search</button>
<br>
<pre>Model: {{ model | json }}</pre>
<br><br><br>
</div>




<div *ngIf='!patientCame'  class="page" >
    <button class="btn btn-secondary" style="width:200px;" (click)="patientIsntHere()">Patient didn't came</button>&nbsp;
    <button class="btn btn-primary" style="width:200px;" (click)="patientIsHere()">Patient came</button>
</div>