<div  class="page">
    <div class="form">
        <form class="ngform">
            <h3>Registration supplier</h3>
            <div>
                <input type="email" [(ngModel)]="user.email" placeholder="Enter supplier email" name="email" required #email="ngModel"
                [class.is-invalid] = "email.invalid && email.touched" pattern = "^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                    <small class="text-danger" *ngIf = "email.errors.required">Email is required field.</small>
                    <small class="text-danger" *ngIf = "email.errors.pattern">Enter valid email.</small>
                </div>
            </div>

            <div>
                <input type="text" [(ngModel)]="user.name" placeholder="Enter supplier name" name='name'>
            </div>

            <div>
                <input type="text" [(ngModel)]="user.surname" placeholder="Enter supplier surname" name='surname'>
            </div>

            <div>
                <input type="text" [(ngModel)]="user.address" placeholder="Enter supplier address" name='address'>
            </div>

            <div>
                <input type="text" [(ngModel)]="user.city" placeholder="Enter supplier city" name='city'>
            </div>
            <div>
                <input type="text" [(ngModel)]="user['country']" placeholder="Enter supplier country" name='country'>
            </div>
            <div>    
                <input type="tel" [(ngModel)]="user.phone" placeholder="Enter supplier phone" name='phone'>
            </div>
            <button class="btn btn-info" (click)="registration()">Register</button>
        </form>
    </div>
</div>


